
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>CATEGORY</th>
        <th>DURUM</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Spor</td>
        <td>Aktif</td>
    </tr>
</table>
