
@{
    Layout = null;
}

<div>
    merhaba
</div>
<br />
<h3>mvc kamp tablo ornegi</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>kmslkmxl</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>kmslkmxl</td>
        <td>true</td>
    </tr>

</table>